<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

    <ui:composition template="/WEB-INF/adminTemplate.xhtml">
        <ui:define name="head">
            <title>Calendar</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
            <link href="#{request.contextPath}/css/jquery-ui.css" rel="stylesheet" />
            <link href="#{request.contextPath}/css/jquery.ui.theme.css" rel="stylesheet" />
            <link href="#{request.contextPath}/css/timelineScheduler.css" rel="stylesheet" />
            <link href="#{request.contextPath}/css/timelineScheduler.styling.css" rel="stylesheet" />
            <link href="#{request.contextPath}/css/calendar.css" rel="stylesheet" />
            <link href="#{request.contextPath}/fonts/css/font-awesome.css" rel="stylesheet" />
            <script src="#{request.contextPath}/js/moment.min.js"></script>


            <script>
                moment.lang('de');
            </script>
            <script src="#{request.contextPath}/js/jquery-1.9.1.min.js"></script>
            <script src="#{request.contextPath}/js/jquery-ui-1.10.2.min.js"></script>
            <script src="#{request.contextPath}/js/logic/contentLoadFunctions.js"></script>
            <script src="#{request.contextPath}/js/logic/eventActions.js"></script>
            <script src="#{request.contextPath}/js/logic/headerFunctions.js"></script>
            <script src="#{request.contextPath}/js/logic/eventFunctions.js"></script>
            <script src="#{request.contextPath}/js/logic/elementFunctions.js"></script>
            <script src="#{request.contextPath}/js/logic/renderFunctions.js"></script>
            <script src="#{request.contextPath}/js/logic/timeFunctions.js"></script>
            <script src="#{request.contextPath}/js/timelineScheduler.js"></script>
            <script src="#{request.contextPath}/js/logic/Options.js"></script>
            <script src="#{request.contextPath}/js/logic/Periods.js"></script>
            <script src="#{request.contextPath}/js/logic/Text.js"></script>


            <h:outputStylesheet library="template" name="avgrud/avgrud.css"></h:outputStylesheet>
            <h:outputScript library="template" name="avgrud/avgrud.js"></h:outputScript>
            <h:outputStylesheet library="template" name="clockpicker/clockpicker.css"></h:outputStylesheet>
            <h:outputScript library="template" name="clockpicker/clockpicker.js"></h:outputScript>
            <h:outputStylesheet library="template" name="clockpicker/bootstrap-clockpicker.css"></h:outputStylesheet>
            <h:outputScript library="template" name="clockpicker/bootstrap-clockpicker.js"></h:outputScript>


            <script>
                var SiteName = "#{request.contextPath}/";
                $(document).ready(function () {
                    scheduler = new App.TimeScheduler(true);
                    scheduler.init();
                });
            </script>
        </ui:define>

        <ui:define name="header">
            Kalender
        </ui:define>
        <ui:define name="content">

            #{globalCounterView.init()}

            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Stations Name</th>
                        <th>anlegen</th>
                        <th>Mitarbeiter Name</th>
                        <th>anlegen</th>
                    </tr>
                </thead>
                <tbody>  
                    <tr>  
                        <h:form>
                            <td class="stat_td">           
                                <h:inputText class="input_text" a:placeholder="Stationsname" value="#{stationBean.name}" required="true" requiredMessage="Sie müssen eine Station anlegen" />
                            </td>
                            <td>
                                <h:commandLink value="" action="#{stationBean.createStation()}"> 
                                    <i class="fa fa-plus-circle fa-2x" id="circle_custom"></i>
                                </h:commandLink>
                            </td>      
                        </h:form>
                        <h:form>
                            <td class="emp_td"> 
                                <h:inputText class="input_text emp_input" a:placeholder="Name" value="#{employeeBean.name}" required="true" requiredMessage="Sie müssen einen Namen anlegen" />
                                <h:inputText class="input_text emp_input" a:placeholder="E-Mail" value="#{employeeBean.email}" required="false" />
                            </td>
                            <td>
                                <h:commandLink value="" action="#{employeeBean.createEmployee()}"> 
                                    <i class="fa fa-plus-circle fa-2x" id="circle_custom"></i>
                                </h:commandLink>
                            </td>
                        </h:form>
                    </tr> 
                </tbody>
            </table>

            <div class="calendar">
            </div>
            <div class="realtime-info">
            </div>

            <div class="tabelle">
                <h5 id="choose_customer_header" >Vorhandene Mitarbeiter</h5>
                <table  class="table table-bordered table-condensed" id="show_users">
                    <tr><th>Name</th><th>Email</th></tr>
                </table>
            </div>

            <script>
                function closeDialog() {
                    Avgrund.hide();
                }
            </script>


            <aside id="addTask-popup" class="avgrund-popup">
                <h2> Neuen Eintrag anlegen</h2><br/>
                <br/>
                Beschreibung: <input class="form-control"  id="calendarAddEntry" type="text"/>
                <br/>
                Angestellter: 
                <br/>
                <select class="form-control" id="employeedropdown"></select>
                <br/>
                <br/>
                Sektion: 
                <br/>
                <select class="form-control" id="sectiondropdown"></select>
                <br/>
                Start:
                <br/>
                <div class="clearfix">
                    <div class="input-group pull-center">
                        <input id="datepickfield" type="text" class="form-control datepicker" value="13:14" readonly="true"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="input-group clockpicker pull-center" data-align="top" data-autoclose="true">
                        <input id="clockpickfield" type="text" class="form-control" value=""  readonly="true"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
                <br/>
                Ende:
                <br/>
                <div class="clearfix">
                    <div class="input-group pull-center">
                        <input id="datepickfieldEnd" type="text" class="form-control datepicker" value="" readonly="true"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="input-group clockpicker pull-center" data-align="top" data-autoclose="true">
                        <input id="clockpickfieldEnd" type="text" class="form-control" value=""  readonly="true"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>

                <br/>
                <br/>
                <br/>

                <button class="btn btn-success pull-right" style="margin-left: 10px;" onclick="saveNewTask()">Speichern</button>
                <button class="btn btn-primary pull-right" onclick="javascript:closeDialog();">Abbrechen</button>
            </aside>

            <aside id="deleteTask-popup" class="avgrund-popup">
                <h2>Diese Aufgabe löschen</h2><br/>
                <br/>
                Beschreibung: <p class="form-control"  id="calendarDeleteEntry" type="text"></p>
                <p class="form-control"   id="itemId" type="text"></p>
                <br/>
                Angestellter: <p class="form-control"  id="employeeDeleteEntry" type="text"></p>
                <br/>
                Sektion: <p class="form-control"  id="sectionDeleteEntry" type="text"></p>
                <br/>

                <button class="btn btn-success pull-right" style="margin-left: 10px;" onclick="scheduler.that.getContentLoad().deleteTask(document.getElementById('itemId').textContent)">Aufgabe löschen</button>
                <button class="btn btn-primary pull-right" onclick="javascript:closeDialog();">Abbrechen</button>
            </aside>


            <div class="avgrund-cover"></div>
            <script>
                $('.clockpicker').clockpicker()
                        .find('input').change(function () {
                });
                $(".datepicker").datepicker({dateFormat: 'dd.mm.yy'});

                function saveNewTask() {
                    scheduler.that.getEventActions().saveNewTask(function () {
                        scheduler.init();
                    });
                    closeDialog();
                }
            </script>


        </ui:define>
    </ui:composition>
</html>
