<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <ui:composition template="/WEB-INF/adminTemplate.xhtml">
        <ui:define name="header">
            Mitarbeiter
        </ui:define>
        <ui:define name="content">
            <h:form  id="form"> 
                <script>
                    //http://jsfiddle.net/xBB5x/63/
                    $(document).ready(function () {
                        var manager = 'UserManager', stat = 'StationManager';
                        createEditable('Benutzername', manager);
                        createEditable('Adresse', manager);
                        createEditable('E-Mail', manager);
                        createEditable('Telefon', manager);
                        createEditable('Station', stat);
                    });

                    function createEditable(type, adress) {
                        $('.' + type).editable({
                            type: 'text',
                            name: type,
                            url: '#{request.contextPath}/' + adress,
                            title: type + " bearbeiten"
                        });
                    }
                </script> 

                <table id="users" class="table table-bordered table-condensed">
                    <tr><th>Name</th><th>Adresse</th><th>Email</th><th>Telefon</th><th>Löschen</th></tr>
                    <c:forEach  id="wrapper" items="#{userOverviewBean.employees}" var="employee">  
                        <tr> 
                            <td><a class="Benutzername" href="#" title="Klicken Sie auf den Namen um ihn zu ändern" data-pk="#{employee.id}">#{employee.name}</a></td>
                            <td><a class="Adresse" href="#" title="Klicken Sie auf die Adresse um sie zu ändern" data-pk="#{employee.id}">#{employee.address}</a></td>       
                            <td><a class="E-Mail" href="#" title="Klicken Sie auf die E-Mail um sie zu ändern" data-pk="#{employee.id}">#{employee.email}</a></td>       
                            <td><a class="Telefon" href="#" title="Klicken Sie auf die Telefonnummer um sie zu ändern" data-pk="#{employee.id}">#{employee.phone}</a></td>       
                            <td> 
                                <h:commandLink value="" rendered="true"> 
                                    <i class="fa fa-minus-circle fa-2x" id="circle_custom"></i>
                                    <f:ajax execute="@form" event="click" listener="#{userOverviewBean.deleteEmployee(employee)}" render="form"/>
                                </h:commandLink>
                            </td> 
                        </tr>  
                    </c:forEach>    
                </table>

                <div class="col-lg-12">
                    <h1 class="page-header">Stationen</h1>
                </div>
                <table id="users" class="table table-bordered table-condensed">
                    <tr><th>Station</th><th>Löschen</th></tr>
                    <c:forEach  id="wrapper" items="#{userOverviewBean.stations}" var="station">  
                        <tr> 
                            <td><a class="Station" id='stat_name' href="#" title="Klicken Sie auf den Stationsnamen um ihn zu ändern" data-pk="#{station.id}">#{station.name}</a>
                            </td>  

                            <td> 
                                <h:commandLink value="" rendered="true"> 
                                    <i class="fa fa-minus-circle fa-2x" id="circle_custom"></i>
                                    <f:ajax execute="@form" event="click" listener="#{userOverviewBean.deleteStation(station)}" render="form"/>
                                </h:commandLink>
                            </td> 
                        </tr>  
                    </c:forEach>    
                </table>

            </h:form>     
        </ui:define>


    </ui:composition>
</html>
