#kopfbereich{
	background-color:  #337ab7;
}

#heading{
	background-color:  #337ab7;
	
	text-align: center;
	font-size: 40px;
	color: white;
	border: 0px;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 3%;
}

#tape{
	width: 100%;
	margin: 0px auto;

}

#video-border{
    height: 80%;
	

}

#buttons{
	font-size: 20px;
	margin-top: 10px;
	margin-left: 90%;
	color: white;
	font-weight: bold;
	

}

.btn-custom {
	background-color:  #337ab7;
	border-color: transparent;
	text-decoration: none;
}

.btn-custom:hover{
	text-decoration: underline;
	
}

.row{
	margin:10px;

}

.col-md-1{
	width: 25%;
}

.font{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 110%;
}

h3{
	margin-top: 40px;
	margin-bottom: 40px;
}

#textbereich{
    max-width: 1350px;
    margin: 0px auto;
}

#footer{
	margin: 300px;
}

.right_image{
	padding-left: 18%;
}

.col-md-8 {
    width: 50.666667%;
}

h2{
	padding-top: 5%;
}
