/*!  Copyright (c) 2013 Zallist

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in
    all copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
    THE SOFTWARE.
*/
/*! Project location: https://github.com/Zallist/TimeScheduler */

/*! If possible, leave this file unchanged as it may screw up the scheduler's position */

//== Wrap
.time-sch-wrapper, .time-sch-header-wrapper, .time-sch-table-wrapper {
	position: relative;
	}
.time-sch-table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	}

//== Header section
.time-sch-period-container {
	float: left;
	position: relative;
	}
.time-sch-time-container {
	float: right;
	position: relative;
	}

.time-sch-button {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	}
	
.time-sch-time-button-goto {
	margin-right: .5em;
	}
.time-sch-time-button-today {
	margin-right: .5em;
	}

.time-sch-content-wrap {
	position: relative;
	}

//== Table defaults
.time-sch-wrapper {
	th, td {
		border-width: 1px;
		border-style: solid;

		border-top-color: #E1E1E1;
		border-bottom-color: #E1E1E1;
		border-left-color: #C1C1C1;
		border-right-color: #C1C1C1;
		}
		
	.time-sch-section-header {
		border-top-color: transparent;
		border-left-color: transparent;
		border-bottom-color: transparent;
		}

	.time-sch-date-header {
		text-align: left;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		}

	.time-sch-section {
		width: 100px;
		}
	}
	
//== Section rows
.time-sch-section-content {
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
	}

//== Sections
.time-sch-section-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1;

	padding-left: 1px;
	padding-right: 1px;
	}
.time-sch-section-container {
	position: relative;
	overflow: hidden;
	}

//== Calendar items
.time-sch-item {
	position: absolute;
	min-height: 1em;
	clear: both;
	}
.time-sch-item-icon {
	float: left;
	width: 1em;
	height: 1em;
	}
.time-sch-item-content {
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	z-index: 1;
	}
.time-sch-item-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	}
.time-sch-item-event {
	position: absolute;
	top: 1px;
	bottom: 1px;
	width: 1px;
	}

.time-sch-item-start, .time-sch-item-end {
	position: absolute;
	top: 2px;
	bottom: 2px;
	}
.time-sch-item-start {
	left: 1px;
	border-right: 2px dotted #FFFFFF;
	}
.time-sch-item-end {
	right: 1px;
	border-left: 2px dotted #FFFFFF;
	}


//== Current time
.time-sch-current-time {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 2;
	background: transparent;
	}


//== Utilities
.time-sch-clearfix {
	:before, :after {
		content: '\0020';
		display: block;
		overflow: hidden;
		visibility: hidden;
		width: 0;
		height: 0; 
		}

	:after {
		clear: both;
		}

	zoom: 1;
	}


//== Basic print styling to get rid of easily forgotten elements
@media print {
	.time-sch-current-time {
		display: none;
		}
}