<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>            

        <title>Calendar</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <script src="js/jquery-1.11.2.min.js"></script>

        <!-- Das neueste kompilierte und minimierte CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

        <!-- Optionales Theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>

        <!-- Das neueste kompilierte und minimierte JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="css/landing_page.css"/>  
        <script type="text/javascript" src="js/landing_page/landing_page.js"></script>

    </h:head>
    <body onload="ticker()">

        #{dbFill.fill()}
        <h:outputText id="out" value="#{globalCounterView.count}" style="display: none;" />
        <p:panel style="display: none;"></p:panel>

        <div id="kopfbereich">
            <button id="buttons" type="button" class="btn-custom " data-toggle="modal" data-target="#loginForm">LOGIN</button>
            <!---Popup Login Form-->  
            <h:form prependId="false">
                <div class="modal fade" id="loginForm">

                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Login</h4> 
                            </div>   
                            <div class="modal-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-md-4 col-md-offset-1">Benutzer:</label>
                                        <div class="col-md-5">
                                            <h:inputText id="loginmail" class="form-control input-sm" value="#{userBean.email}"></h:inputText>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 col-md-offset-1">Password:</label>
                                        <div class="col-md-5">
                                            <h:inputSecret id="loginpw" class="form-control input-sm" value="#{userBean.password}"></h:inputSecret>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-2 col-md-offset-8">
                                            <h:commandButton id="loginbtn" class="btn btn-success" value="login" action="#{userBean.login()}"></h:commandButton>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="modal-footer"></div>
                        </div>
                    </div> 
                </div> 
            </h:form>

            <p>
                <input id="heading" type="text" size="30" name="text"/>
            </p>
            <div id="video-border">
                <video id="tape" width="800" height="500" controls="true">
                    <source src="video/tutorial.mp4" type="video/mp4"></source>
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div id="textbereich">

            <h2>Wenn Sie der Administrator sind, haben Sie folgende Funktionen</h2>

            <h3>1.Neue Station anlegen</h3>

            <div class="row">

                <div class="col-md-1">
                    <img src="images/landing_page/station_anlegen.PNG"  OnMouseover ="over(this)" OnMouseout = "out(this)"/>
                </div>
                <div class="col-md-1">
                    <p class="font">Um eine Station anlegen zu können, muss man, in den vorgesehenen Bereich, den Namen der Station eingeben und anschließend auf das Pluszeichen klicken.</p>
                </div>
                <div class="col-md-1">
                    <img class="right_image" src="images/landing_page/station_angelegt.PNG"/>
                </div>
                <div class="col-md-1">
                    <p class="font">Sobald man auf das Pluszeichen geklickt hat, erscheint die neu angelegte Station im Kalender.</p>
                </div>
            </div>

            <h3>2.Neuen Mitarbeiter anlegen</h3>

            <div class="row">
                <div class="col-md-1">
                    <img src="images/landing_page/Mitarbeite_anlegen.PNG" width="100%" OnMouseover ="over2(this)" OnMouseout = "out2(this)"/>
                </div>
                <div class="col-md-1">
                    <p class="font">Um einen Mitarbeiter anzulegen, muss man, den Namen des Mitarbeiters und dessen E-mail adresse eingeben und dannach auf das Plus-Zeichen klicken.</p>
                </div>
                <div class="col-md-1">
                    <img class="right_image" src="images/landing_page/Mitarbeiter_angelegt.PNG"/>
                </div>
                <div class="col-md-1">
                    <p class="font">Der neue Mitarbeiter erscheint dann, in den Feld der vorhandenen Mitarbeiter.</p>
                </div>
            </div>

            <h3>3.Neuen Eintrag anlegen</h3>
            <div class="row">
                <div class="col-md-1">
                    <img class="eintrag" src="images/landing_page/Eintrag_anlegen.PNG" width="90%"/>
                </div>
                <div class="col-md-1">
                    <p class="font">Um einen Mitarbeiter eine Arbeit zuzuteilen, klickt man auf den Kalender selbst, der dann ein Formular öffnet. Durch das Formular kann man, die Bezeichnung der Tätigkeit, den Angstellten, die Sektion und den Zeitraum zuteilen. </p>
                </div>
                <div class="col-md-1">
                    <img class="eintrag right_image" src="images/landing_page/Eintrag_anlegen2.PNG" width="90%"/>
                </div>
                <div class="col-md-1">
                    <p class="font">Sobald man das Formular gespeichert hat, wird der Eintrag in Form eines Balkens dargestellt, mit den zugeteilten Mitarbeiter. Es ist auch Möglich, die Balken selbst zu verschieben oder zu verkleinern und somit den Zeitraum oder die Station zu ändern oder die Tätigkeit selbst zu löschen. Diese Funktionen sind nur den Administrator möglich. </p>
                </div>
            </div>
            <h3>4.Benuterübersicht</h3>

            <div class="row">
                <div class="col-md-8">
                    <img class="eintrag" src="images/landing_page/uebersicht.PNG" width="90%"/>
                </div>
                <div class="col-md-4">
                    <p class="font">Der Administrator besitzt auch eine Benuterübersicht und eine Stationenübersicht, wo die einzelnen Mitarbeiter und deren Daten und bei den Stationen, die einzelnen Sektionen aufgelistet sind. Diese Daten können auch verändert oder gelöscht werden.</p>
                </div>
            </div>
            <h2>Wenn sie der Mitarbeiter sind, haben Sie folgende Funktionen</h2>
            <h3>1.Verschiedene Ansichten</h3>

            <div class="row">
                <div class="col-md-8">
                    <img  src="images/landing_page/tagesansicht.PNG" width="70%" />
                    <img src="images/landing_page/Wochenansicht.PNG" width="70%"/>
                    <img src="images/landing_page/Monatsansicht.PNG" width="70%"/>
                </div>
                <div class="col-md-4">
                    <p class="font">Der Mitarbeiter und auch der Administrator, können die Sicht auf den Kalender umändern und zwar in Monats-, Wochen- oder in Tagesansicht, indem Sie auf den gewünschte Ansicht klicken.</p>
                </div>
            </div>
            <h3>2.Stundenübersicht</h3>

            <div class="row">

                <div class="col-md-1">
                    <img id="image" src="images/landing_page/Stundenuebersicht.PNG" width="70%" OnMouseover="over3(this)" OnMouseout="out3(this)" />

                </div>

                <div class="col-md-1">
                    <p class="font">Der Mitarbeiter hat eine Stundenübersicht, wenn der Administrator eine neue Aufgabe anlegt, wird diese in Form eines Graphen dargestellt.</p>
                </div>

                <div class="col-md-1"></div>
                <div class="col-md-1"></div>

            </div>
        </div>
        <div id="footer">

        </div>

    </body>

</html>