<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>

        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>Workload Manager</title>
        <h:outputStylesheet library="template" name="bootstrap.min.css"></h:outputStylesheet>
        <h:outputStylesheet library="template" name="metisMenu.min.css"></h:outputStylesheet>
        <h:outputStylesheet library="template" name="timeline.css"></h:outputStylesheet>
        <h:outputStylesheet library="template" name="sb-admin-2.css"></h:outputStylesheet>

        <link rel="stylesheet" href="#{request.contextPath}/fonts/css/font-awesome.min.css"/>

        <h:outputScript library="template" name="bootstrap.min.js"></h:outputScript>
        <h:outputScript library="template" name="metisMenu.min.js"></h:outputScript>
        <h:outputScript library="template" name="sb-admin-2.js"></h:outputScript>
        <ui:insert name="headarea"></ui:insert>


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </h:head>

    <body>

        <p:panel style="display: none"></p:panel>


        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand" >Workload Manager</div>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <h:link outcome="logout" value="Ausloggen">
                                    <i class="fa fa-sign-out fa-fw pull-left"></i>
                                </h:link>
                            </li>
                        </ul>
                    </li>
                </ul>

                <div class="navbar-default sidebar" role="navigation">


                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li>
                                <h:link  outcome="hours" value="Stundenübersicht">
                                    <i class="fa fa-dashboard fa-fw pull-left"></i>
                                </h:link>
                            </li>
                            <li>
                                <h:link  outcome="calendar" value="Kalender">
                                    <i class="fa fa-dashboard fa-fw pull-left"></i>
                                </h:link>
                            </li>

                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>

            <div id="page-wrapper">

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header"><ui:insert name="header"></ui:insert></h1>
                    </div>


                </div>
                <div class="row">
                    <ui:insert name="content"></ui:insert>

                </div>
            </div>

        </div>

    </body>



</html>
