<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/WEB-INF/template.xhtml">
        <ui:define name="headarea">
            <title>Calendar</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
            <link href="#{request.contextPath}/css/jquery-ui.css" rel="stylesheet" />
            <link href="#{request.contextPath}/css/jquery.ui.theme.css" rel="stylesheet" />
            <link href="#{request.contextPath}/css/timelineScheduler.css" rel="stylesheet" />
            <link href="#{request.contextPath}/css/timelineScheduler.styling.css" rel="stylesheet" />
            <link href="#{request.contextPath}/css/calendar.css" rel="stylesheet" />
            <link href="#{request.contextPath}/fonts/css/font-awesome.css" rel="stylesheet" />
            <script src="#{request.contextPath}/js/moment.min.js"></script>


            <script>
                moment.lang('de');
            </script>
            <script src="#{request.contextPath}/js/jquery-1.9.1.min.js"></script>
            <script src="#{request.contextPath}/js/jquery-ui-1.10.2.min.js"></script>
            <script src="#{request.contextPath}/js/logic/contentLoadFunctions.js"></script>
            <script src="#{request.contextPath}/js/logic/eventActions.js"></script>
            <script src="#{request.contextPath}/js/logic/headerFunctions.js"></script>
            <script src="#{request.contextPath}/js/logic/eventFunctions.js"></script>
            <script src="#{request.contextPath}/js/logic/elementFunctions.js"></script>
            <script src="#{request.contextPath}/js/logic/renderFunctions.js"></script>
            <script src="#{request.contextPath}/js/logic/timeFunctions.js"></script>
            <script src="#{request.contextPath}/js/timelineScheduler.js"></script>
            <script src="#{request.contextPath}/js/logic/Options.js"></script>
            <script src="#{request.contextPath}/js/logic/Periods.js"></script>
            <script src="#{request.contextPath}/js/logic/Text.js"></script>


            <script>

                var SiteName = "#{request.contextPath}/";
                $(document).ready(function () {
                    scheduler = new App.TimeScheduler(false);
                    scheduler.init();

                });

            </script>
            <style>
                .calendar{
                    width: 100%;
                }
            </style>


        </ui:define>

        <ui:define name="header">
            Kalender

        </ui:define>
        <ui:define name="content">


            <p:socket onMessage="handleMessage" channel="/counter" >
            </p:socket>


            <script type="text/javascript">
                function handleMessage(data) {
                    scheduler.init();
                }
            </script>


            <div class="calendar">
            </div>
            <div class="realtime-info">
            </div>
        </ui:define>




    </ui:composition>
</html>
