<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/WEB-INF/template.xhtml">
        <ui:define name="headarea">
            <link href="#{request.contextPath}/css/houroverview.css" rel="stylesheet" />
            <h:outputScript library="template" name="Chart.js"></h:outputScript>
        </ui:define>

        <ui:define name="header">
            Stundenübersicht
        </ui:define>
        <ui:define name="content">

            <div id="canvas-holder2">
                <canvas id="chart2" width="600" height="300" />
            </div>

            <div id="chartjs-tooltip"></div>           <script>

                var SiteName = "#{request.contextPath}/";
            </script>
            <script src="#{request.contextPath}/js/houroverview.js"></script>

        </ui:define>


    </ui:composition>
</html>
